Environment Configuration (.env File Example)
Ensure to configure the .env file with your project settings:
You can get it when you vercel postgres storage secreat key 
POSTGRES_URL="postgres://username:password@host:port/dbname"
POSTGRES_PRISMA_URL="postgres://username:password@host:port/dbname?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NO_SSL="postgres://username:password@host:port/dbname"
POSTGRES_USER="your_postgres_user"
POSTGRES_HOST="your_postgres_host"
POSTGRES_PASSWORD="your_postgres_password"
POSTGRES_DATABASE="your_postgres_database"

Your email and app password 
EMAIL_USER="your_email"
EMAIL_PASS="your_email_password"

Can get it from firebase secreat key 
NEXT_PUBLIC_FIREBASE_API_KEY="your_firebase_api_key"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="your_firebase_auth_domain"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="your_firebase_project_id"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="your_firebase_storage_bucket"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="your_firebase_messaging_sender_id"
NEXT_PUBLIC_FIREBASE_APP_ID="your_firebase_app_id"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="your_firebase_measurement_id"